*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html {
     height: 100vh;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}   
/**Intro Page***/             
 .intro-page {
    background-image: url("./images/suitcases.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: Spx;
    text-align: center;
    z-index: -10;               
 } 
.intro-page-gradient{
    padding-top: 20px;
    background-color: hsla(0, 0%, 0%, 30%);
    height: 100vh;
    z-index: -5;
    }        
.sign-form{
    text-align: center;
    position: relative;              
}           
.sign-form__fieldset {
    border: 0px solid gray;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sign-form__legend{
    text-transform: uppercase;
    font-size: 16px;
}
.sign-form__input {
    width: 90%;
    height: 30px;
    margin: 5px;
    padding: 0px;
}
.sign-form__input_error{
    color: red;
}
.sign-form__message_error{
    color: white;
    font-size: 12px;
    text-transform: initial;
    }
.sign-form__button{
    padding: 5px;
    width: 100px;
    margin: 3px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}                
.sign-form__button:hover {
    color: lightcoral;
    background-color: transparent;
    font-weight: bold;
} 
.sign-form__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}            
.sign-form__left,
.sign-form__right {
    width: 200px;
    margin: 5px;
}          
.sign-form_in {              
    width: 250px;
    height: 260px;
    left: 40%;
    top: 30%;   
}
.sign-form_up {
    width: 550px;
    height: 520px;               
    left: 30%;
    top: 30%;               
}           
/* NAVIGATION */
           
.top-nav {
    overflow: hidden;
    background-color: rgb(23, 26, 31);
    transition: transform .2s;
}    
.top-nav__li {
    color: white;
    float: left;
    display: block;       
    text-align: center;
    padding: 13px;
    text-transform: uppercase;            
}    
.top-nav__li:hover {
    color: lightcoral;
}    
.active li {
    background-color: ivory;
    color: rgb(23, 88, 88);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}    
.active-sign li {
    color: rgb(23, 30, 43);
}
              
           /*-----------HEADER-----*/
.header {
    background-repeat: no-repeat;
    background-size: cover;   
    padding: Spx;
    text-align: center;
    height: 250px;
}  
#message {
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 0%;
    padding: 10px;
}
/*HOME*/
.header_home {
    background-image: url("./images/metropolis.png");
    background-position: center;   
    height: 100vh;
    padding: 50px 0px;
}
/*LIFE-CITY*/        
 .header_life {
    background-image: url("./images/city_lights.png");
    background-position-y:75%;    
}
.header__button_life {
    width: 100%;
    padding: 20px;
    margin: 0px;
    font-size: medium;
    font-weight: lighter;
}
/*FEEDBACK*/
.header_feedback {
    background-image: url("./images/feedback.jpeg");
    background-position: center;  
    }  
.header__button_feedback{
    width: 200px;
    margin: 80px 0px;
}
/*PROVIDERS--*/
.header_providers {
    background-image: url("./images/providers.png");
    background-position: center;
}
.header__button_providers {
    width: 200px;
    margin: 80px 0px;
}
/*Scroll to top*/
.top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(23, 88, 88, 40%);
    border: 0px;
    z-index: 5;
    padding: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.top img{
    width: 20px;
    height: 20px;
}
.top:hover{
    background-color: salmon;
}
.loader{
    text-align: center;
}
.provider-detail p{
    margin: 15px;
}

   /*SELECT*/

input, select, .select-provider {
    padding: 10px;
    margin: 5px;
}
select{
    width: 200px;
}
input, .select-provider{
    width: 100%;
}
button {
    padding: 10px;
    margin: 10px 10px 10px 0px;
    background-color: rgb(23, 88, 88);
    color: white;
    font-weight: bold;
    width: 130px;
    cursor: pointer;
}
button:hover {
    background-color: ivory;
    color: lightcoral;
}
.select-form {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    background-color:transparent;
    color: white;
    width: 300px;
    text-align: center;            
    padding: 10px 50px;
}  
.select-form__label{
    font-size: small;
} 
.select-form__button {
    margin: 4px;
    width: 100%;
} 
.select-form__pop-up_error{
    color: red;
    background-color: ivory;
    border-radius: 10px;
    border: solid 1px  grey;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 4px 0px 4px 4px;
    text-align: left;
    position: relative;
}
    /*WRAPPER*/      
    .wrapper {
        padding: 20px;
    }
    h2 {
        color: black;
        padding: 4%;
        font-size: medium;
    }
/*SECTION FIRST*/
figcaption{
    color: slategray;
}
figcaption:hover{
   color: darkcyan;
}
    /*horizontalPosition*/ 
    .horizontalPosition {
        text-align: center;        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }    
    .horizontalPosition figure {
        width: 150px;
        padding: 10px;
        margin: auto;
        font-weight: bold;       
    }
    .horizontalPosition figure:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}    
    .horizontalPosition figure img {
        width: 130px;
        height: 130px;
        border: solid 1px white;
        margin: 10px;
        box-shadow: gray 0px 0px 10px;
        transition: transform .2s;
        -webkit-transition: transform .2s;
        -moz-transition: transform .2s;
        -ms-transition: transform .2s;
        -o-transition: transform .2s;
} 
    /*verticalPosition*/ 
    .verticalPosition {
        background-color: rgba(255, 255, 255, 0.5);
        position: fixed;
        right: 0px;
        top: 30px;
        text-align: center;        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 1px;
    }       
    .verticalPosition figure {
        width: 65px;
        padding: 7px;
        margin: auto;
        font-weight: bold;  
        font-size: xx-small;     
    }
    .verticalPosition figure:hover {
        transform: scale(1.2);
    }    
    .verticalPosition figure img {
        width: 50px;
        height: 50px;
        border: solid 1px white;
        margin: 5px;
        box-shadow: gray 0px 0px 5px;
        transition: transform .2s;
    } 
  
#showTransportation{ 
    border: darkcyan solid 1px; 
    border-radius: 10px; 
    margin: 10px; 
    padding: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -o-border-radius: 10px;
}

.middle-wrapper {
border-radius: 10px;
margin: 10px;
padding: 10px;
}
.provider{
    text-align: left;
}
.provider-div,
.user-comment {
border: darkcyan dashed 4px;
padding: 40px;
margin: 40px;
}
.user-comment form{
    text-align: left;
}

/*DATA*/
.main-header{
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    padding: 10px;
}
.main-div{
    border: darkcyan dashed 4px;
    padding: 15px;
    margin: 15px;
}
.data-selected{
    text-align: center;
    padding: 10px;
}
.data-selected__h2{
    padding: 10px;
    color: rgb(23, 88, 88);
}
.data-selected div{
    padding: 10px;
}
.data-selected__data-info{
    display: flex;
    justify-content: space-around;  
}
.data-selected__p{
    padding: 2px;
    font-size: medium;
    font-weight: bold;
}
.data-selected__span{
    color: rgb(23, 88, 88);
    font-weight: bold;
}
.data-selected_left{
    width: 350px;
}
.data-selected_right{
    width: 550px;
    text-align: left;
}
.data-selected__data-restaurant{
    text-align: left;
    width: 32%;
}

.provider-heading p{
    font-weight: bold;
}
.provider-heading p span{
    color: rgb(23, 88, 88);
    font-weight: bold;
}
textarea{
    width: 100%;
}
.provider-heading,
.provider-detail,
.provider-detail-form {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
padding: 10px;
}


.provider-logo {
    height: 70px;
    }
    

.fa {
font-size: 25px;
}

.checked {
color: darkcyan;
}


.left,
.right {
width: 45%;
padding: 5px;
}

/*COMMENT -- LIFE*/
.inputError{
    color: red;
    }            

#leave-comment-form{
    padding: 5px;
}
.error-message-comment{
    color: salmon;
    }
#leave-comment-form input,
#leave-comment-form textarea{
    margin: 0px;
    padding: 3px;
}
#leave-comment-form button{
    background-color: rgb(66, 150, 150);
}
#leave-comment-form button:hover{
    background-color: lightcoral;
    color: white;
}
.leave-comment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leave-comment-user{
    text-align: right;
}
.leave-comment-user img{
    width: 40px;
    height: 40px;
}
.comment {
    border: double 1px rgb(173, 169, 169);
    background-color: ivory;
    margin: 10px 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.comment-button{
    width: 150px;
}
.user-comment{
    background-color: rgb(243, 247, 240);
}
.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user{
    padding: 8px;
    width: 130px;
}
.text-comment {
    width: 50%;
    padding: 8px;
}
.text-comment h2 {
    padding: 0px 0px 15px 0px;
}
input[type="checkbox"],
input[type="radio"] {
    width: 15px;
}
.comment-range{
    padding: 15px;
}
.range{
    padding: 5px;
    display: flex;
    flex-direction:row;
}

.fa {
    font-size: 20px;
}
.checked {
    color: darkcyan;
}
/*FORM TRANSPORTATION*/
.destination{
    text-align: right;
}

#nCity {
    color: white;
    font-weight: bold;
}

/*ADD FEEDBACK ABOUT TRANSPORTATION*/

.message-range {
    background-color: darkcyan;
    color: white;
    padding: 5px;
}
 /*FOOTER*/           
footer {
    background-color: rgb(23, 30, 43);
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 1% 3%;
}  
.footer-credits {
    color: gray;
    font-size: 10px;
}


/*RESPONSIVE*/ 

@media screen and (max-width: 800px) {                
.sign-form_in,
.sign-form_up{
    left: -2%;
    top: 0%;
    width: 100%;
    height: 700px;
    padding: 30px 10px;
    }
.sign-form__input{
    width: 200px;
    font-size: 12px;
    padding: 3px;
}   
.error-message{
    font-size: 10px;
}
/*Nav*/
.top-nav__li{
    padding: 10px 9px;               
    font-size: small;
}    
            /*PAGES*/ 

/*SECTION FIRST*/

/*horizontal position*/

.horizontalPosition figure {
    width: 135px;
    padding: 10px;       
}
.horizontalPosition figure:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}    
.horizontalPosition figure img {
    width: 117px;
    height: 117px;
    margin: 8px;
}
/*vertical position*/

.verticalPosition figure {
    width: 55px;       
}
.verticalPosition figure:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}    
.verticalPosition figure img {
    width: 35px;
    height: 35px;
}
/*Scroll to top*/
.top{
    bottom: 5px;
    right: 5px;
}
            
            .provider-logo {
                height: 50px;
                
            }
            .provider-div,
           .user-comment {
                border: darkcyan dashed 2px;
                padding: 15px;
                margin: 15px;
            }
            .comment{
                flex-direction: column;
                align-content: center;
                padding: 10px;
            }
            .text-comment{
                width: 100%;
            }
            /*DATA*/
            .main-div {
                padding: 5px;
                margin: 5px;
            }
            .data-selected__p{
                font-size: small;
            }
            .data-selected div{
                padding: 10px 5px;
            }
            .data-selected__data-restaurant{
                width: 100%;
            }
            p{
                font-size: 10px;
            }
            h1{
                font-size: medium;
            }
            h2{
                font-size: small;
            }
            .heading{
                font-size: x-small;
            }      
           }
           
@media screen and (max-width: 630px) {
            .comment-button,
               button{
                   width: 100%;
               }
.sign-form__input_up{
    width: 145px;
    height: 30px;
    font-size: 10px;
}
.sign-form__input_up[type = "button"]{
    width: 185px;
    height: 27px;
}
.sign-form__fieldset{
    font-size: 10px;
}
.sign-form__left,
.sign-form__right {
    width: 145px;
    margin: 5px;
} 
.top-nav__li:not(:first-child) {
    display: none;
}
            /*PAGES*/
            /*DATA*/
            .data-selected__data-info{
                flex-direction: column;
            }
            .data-selected_left,.data-selected_right{
                max-width: 100%;
                padding: 10px;
            }
            .data-selected__p {
                font-size: small;
            }
            
.leave-comment-user img{
    width: 30px;
    height: 30px;
}
.leave-comment-user p{
    font-size: 8px;
}
#showTransportation{
        border: darkcyan solid 1px;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }
   .middle-wrapper {
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .provider-detail,
    .provider-detail-form{
        flex-direction: column;
    }
    .left,
    .right {
        width: 100%;
        padding: 5px;
}
}  
@media screen and (max-width: 500px){  
    /*Scroll to top*/
    .top{
        width: 40px;
        height: 40px;
        bottom: 6px;
        right: 6px;
        padding: 12px;
    }
    .top img{
        width: 16px;
        height: 16px;
    }  
                 .provider-div,
                 .user-comment {
                      border: darkcyan dashed 2px;
                      padding: 5px;
                      margin: 5px;
                  }
}  
